{% extends 'base.html.twig' %}

{% block title %}Income{% endblock %}

{% block body %}
    <h1>Income</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Source</th>
                <th>Amount</th>
                <th>Pay_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for income in incomes %}
            <tr>
                <td>{{ income.id }}</td>
                <td>{{ income.source }}</td>
                <td>{{ income.amount }}</td>
                <td>{{ income.payAt ? income.payAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('income_show', {'id': income.id}) }}">show</a>
                    <a href="{{ path('income_edit', {'id': income.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
         <tr><td><h4><font color="blue">TOTAL</font></h4></td></tr>
        <tr>               
        <td>{% set somme = 0 %}
           {% set sumamount = 0 %}
           {% for income in incomes %}
           {% set somme = somme+ income.amount %}
           {% endfor %}
           <h4><font color="red">{{somme}}</font></h4>
        </td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('income_new') }}"><button class="btn btn-lg btn-primary" type="submit" >Create new</button></a>
{% endblock %}
